:root {
  --greenHolo: #c5e1a5;
  --yellowHolo: #fff176;
  --blueHolo: #b2ebf2;
  --black: #000000;
}

table {
  border: ridge;
  border-color: var(--black);
}

th,
td {
  border: double;
  border-width: 1px;
  border-color: var(--black);
  text-align: center;
  padding-right: 1.1em;
  padding-left: 1.1em;
}

.tableHead th {
  background-color: var(--blueHolo);
  color: var(--black);
  font-style: bold;
}

.noOfVehicle {
  background-color: var(--yellowHolo);
  font-style: bold;
  color: var(--black);
}

.footTotal {
  text-align: right;
  background-color: var(--greenHolo);
  padding-right: 0.1em;
}

.price {
  text-align: right;
  align-items: flex-end;
  padding-left: 2em;
  padding-right: 0.1em;
}

.priceFoot {
  background-color: var(--greenHolo);
  padding-left: 2.5em;
  padding-right: 0.1em;
}
